body {
    background-color: #282b30;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
.kartinka {
    top: 0;
    position: fixed;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    opacity: .1;
}
.kartinka2 {
    top: 0;
    position: fixed;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    user-select: none;
}